{% extends "layout.html" %}

{% block title %}Polishing{% endblock %}

{% block content %}
    <div class="container">
        <h4>Assign Raw Urls</h4>
        <hr>
        <p>Number of unassigned Raw Urls: <strong>{{ rawurls.count }}</strong></p>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}

            {% if rawurls %}
                <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg">
                        Submit
                    </button>
                </div>
            {% endif %}
        </form>
    </div>
{% endblock %}
